In [2]:
import pandas as pd
import numpy as np

In [15]:
champs_df = pd.read_csv("Set3Champions.csv")
items_df = pd.read_csv("TFT_Item_CurrentVersion.csv")

In [16]:
champs_df.head()

,name,cost,health,defense,magic_resist,attack,attack_range,speed_of_attack,dps,skill_name,skill_cost,origin,class
0,gangplank,5,1000,30,20,60,1,1.00,60,gangplank_orbitalstrike,100/175,Space Pirate,"['Mercenary', 'Demolitionist']"
1,graves,1,650,35,20,55,1,0.55,30,graves_smokegrenade,50/80,Space Pirate,['Blaster']
2,neeko,3,800,35,20,50,2,0.65,33,neeko_popblossom,75/150,Star Guardian,['Protector']
3,darius,2,750,35,20,60,1,0.65,39,darius_spacepirateguillotine,0/60,Space Pirate,['Mana-Reaver']
4,rakan,2,600,35,20,45,2,0.70,32,rakan_grandentrance,50/100,Celestial,['Protector']

In [14]:
items_df.head()

   id                  name
0   1            B.F. Sword
1   2           Recurve Bow
2   3  Needlessly Large Rod
3   4   Tear of the Goddess
4   5            Chain Vest