In [2]:
import pandas as pd
import numpy as np
champs_df = pd.read_csv("Set13Champions.csv")

In [5]:
# Assuming the first column is the unit name, create the 'image_path' column
champs_df['image_path'] = champs_df.iloc[:, 0].apply(lambda x: f"{x}.png")

# Display the dataframe to verify the new column
champs_df.head()

,unit,cost,health,armor,magic_resist,attack_damage,attack_range,speed_of_attack,dps,skill_name,skill_cost,origin,class,type,image_path,image_path
0,amumu,1,600/1080/1944,35,35,45/68/101,1,0.6,27/41/61,Obsolete Technology,PASSIVE,Automata,Watcher,Magic Tank,NaN,amumu.png
1,darius,1,650/1170/2106,40,40,55/83/124,1,0.7,39/58/87,Decimate,NaN,Conqueror,Watcher,Attack Fighter,NaN,darius.png
2,draven,1,500/900/1620,35,35,45/68/101,1,0.6,27/41/61,Spinning Axes,NaN,Conqueror,Pit Fighter,Attack Carry,NaN,draven.png
3,irelia,1,700/1260/2268,40,40,55/83/124,1,0.7,39/58/87,Defiant Dance,NaN,Rebel,Sentinel,Magic Tank,NaN,irelia.png
4,lux,1,500/900/1620,40,40,55/83/125,1,0.7,39/58/88,Prismatic Barrier,NaN,Academy,Sorceror,Magic Caster,NaN,lux.png

In [6]:
champs_df.to_csv("Set13Champions.csv", index=False)

   id                  name
0   1            B.F. Sword
1   2           Recurve Bow
2   3  Needlessly Large Rod
3   4   Tear of the Goddess
4   5            Chain Vest